<extend name="./common/admin_template"/>

<block name="content">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="title" style="text-align: right;">职能部门 <span
                    class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <select type="text" id="depart" required="required" class="form-control col-md-7 col-xs-12">
                    <option value="理事会">理事会</option>
                    <option value="专家委员会">专家委员会</option>
                    <option value="研发团队">研发团队</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="title" style="text-align: right;">姓名 <span
                    class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="text" id="name" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="clearfix" style="margin: 5px;"></div>
        <div class="form-group">
            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="title" style="text-align: right;">职称 <span
                    class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="hidden" id="id" value="{$id}">

                <input type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="clearfix" style="margin: 5px;"></div>
        <div class="form-group">
            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="title" style="text-align: right;">职称2 <span
                    class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">

                <input type="text" id="title2" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="clearfix" style="margin: 5px;"></div>
        <div class="form-group">
            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="title" style="text-align: right;">职称3 <span
                    class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">

                <input type="text" id="title3" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="clearfix" style="margin: 5px;"></div>
        <div class="form-group">
            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="title" style="text-align: right;">照片 <span
                    class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">

                <span style="display:block;height: 200px;width: 150px; border:1px solid #cfcfcf;" id="photo_picker"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        教师介绍
        <script id="container" name="content" type="text/plain"></script>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">

        <a id="save-btn" href="#" class="btn btn-success " style="margin-top: 30px;width: 150px;">保存</a>
    </div>
</block>

<block name="script">

    <script type="text/javascript" src="/Application/Admin/Public/script/plupload/plupload.full.min.js"></script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/Application/Admin/Public/utf8-php/ueditor.config.js?v=192"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/Application/Admin/Public/utf8-php/ueditor.all.min.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        window.UEDITOR_HOME_URL = '__PUBLIC__/utf8-php/';
        window.onload = function () {
            //自定义请求地址
            UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
            UE.Editor.prototype.getActionUrl = function (action) {
                if (action == 'uploadimage') {    //上传图片
                    return "{:U('admin/block/upload',array('action'=>'uploadimage'),'')}";
                } else if (action == 'config') {    //加载配置
                    return this._bkGetActionUrl.call(this, action);
                }
            }
            //自定义请求地址结束
            window.ue = UE.getEditor('container');
        }

    </script>
    <script src="/Application/Admin/Public/script/addTeacher.js?v=67678"></script>

</block>