<extend name="./common/simple_template"/>

<block name="content">
    <div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>查询条件</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="demo-form2" class="form-horizontal form-label-left" novalidate="">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">标题名称 <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="title" required="required" class="form-control col-md-7 col-xs-12"
                                           type="text">
                                    <input type="hidden" id="banner_id" value="{$banner_id}">
                                </div>
                            </div>

                            <!--<div class="ln_solid"></div>-->
                            <div class="form-group">
                                <div style="float: right;">
                                    <a id="confirm" class="btn btn-warning" href="#">确定</a>
                                </div>
                                <div style="float: right;">
                                    <a id="search-btn" class="btn btn-primary" href="#">查询</a>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>文章列表</h2>
                        <span class="clearfix"></span>
                    </div>
                    <div class="x_content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 50px;">选择</th>
                                <th>标题名称</th>
                                <th style="width: 100px;">内容</th>
                                <th>所属模块</th>
                                <th>创建时间</th>
                                <th>最后更新时间</th>

                            </tr>

                            </thead>


                            <tbody id="result-body">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</block>

<block name="script">

    <script src="/Application/Admin/Public/script/article_selector.js?v=9"></script>

</block>