<extend name="./template"/>
<block name="title"><title>标题</title></block>

<block name="contentBox6">
    <div class="contentBox6" style="min-height: 600px; ">
        <ul class="commonList_dot">
            <foreach name="contents" item="vo">
                <li><span> {$vo.create_time}</span><a href="/page/detail?aid={$vo.id}" target="_blank" title=" {$vo.title}">
                    {$vo.title} </a></li>
            </foreach>
        </ul>

        <!--      <div class="turn_page_box page" style="text-align:center">
                  <span><a>共有105条</a></span>
                  <span><a>当前第1/6页</a></span>
                  <span><a href="?cat_id=11633&amp;cur_page=1">首页</a></span>
                  <span><a href="?cat_id=11633&amp;cur_page=1">上一页</a></span>
                  <span><a href="?cat_id=11633&amp;cur_page=2">下一页</a></span>
                  <span><a href="?cat_id=11633&amp;cur_page=6">末页</a></span>
              </div>-->
    </div>
</block>
