<extend name="./template"/>
<block name="title"><title>标题</title></block>

<block name="contentBox6">
    <div class="contentBox6" style="min-height: 600px; ">
        <div class="content-title">资源化技术研究所</div>
        <div class="content-source">发布时间：2016-01-31 21:51:37来源：
            电子废弃物研究中心
        </div>
        <div class="content-body">&nbsp; &nbsp;&nbsp;该团队负责人由中心聘任的首席专家Eric
            Forssberg教授担任，团队由包括首席专家钱光人、李登新、王景伟等在内的9人组成，其中教授3名，副教授5名，高级工程师1名。该团队的研究任务主要包括：电子废弃物资源化技术（如稀有金属提取、有机材料回收、直接材料化等）研究；危险、禁用、有毒有害物质零部件资源化处理基础研究和前沿技术研究；国家及企业在选址、设计示范等方面的应用设计及咨询研究；电子废弃物回收行业的污染控制技术及环境危害修复技术研究等内容。
        </div>
        <div class="content-back">返回</div>
    </div>
</block>
