<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/Public/css/reset.css?b=11"/>
    <link rel="stylesheet" href="/Application/Home/Public/css/index.css?a=90"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <title>SSRCET-首页</title>
</head>
<body>
<!--顶部小横条 : start-->
<div class="outerBox top-background">
    <div class="mainBox ">
        <a href="/" class="active">[管理员登录入口]</a>
        <div class="clearfix"></div>
    </div>
</div>
<!-- 顶部小横条  --标签结束 -->

<!---->
<div class="outerBox">
    <div class="mainBox">
        <a href="/" class="logo"></a>
        <div class="nav_right" style="float: right">
            <div class="seacrhBox">
                <div class="search_03">


                    <form id="searchform" name="searchform" action="/search/searchResultGJ.jsp" method="get">

                        <input id="q" name="q" class="search_Text" value=""
                               style="display: inline-block ;width:160px;height:22px;border:0px;background-color: transparent;margin-top:3px;margin-left:3px;"
                               type="text">
                        <input value=""
                               style=" display : block;width:32px;background-color:transparent;border: 0px solid #000;  height:30px; cursor:pointer; float: right"
                               type="submit">
                        <input value="399" name="t_id" type="hidden">&#12288;

                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="nav_box">
            <ul class="dropdown">
                <li class="drop" style="height: 30px;"><a href="/" class="">首页</a>
                </li>
                <li class="drop" style="height: 30px;"><a href="/zxgc/zxjg/31592.htm" class="">中心介绍</a>
                    <ul class="sub_menu" style="display: none; padding-top: 30px; top: 0px;">
                        <li><a href="/zxgc/zxjg/31592.htm" class="">中心简介</a></li>
                        <li><a href="/zxgc/qzjg/31908.htm" class="">组织机构</a></li>
                        <li><a href="/zxgc/zxzc/31595.htm" class="">中心章程</a></li>
                        <li><a href="/info/iList.jsp?cat_id=11911" class="">专家介绍</a></li>
                        <li><a href="/info/iList.jsp?cat_id=11644" class="">研究团队</a></li>
                        <li><a href="/info/iList.jsp?cat_id=11645" class="">研发平台</a></li>
                        <li><a href="/info/iList.jsp?cat_id=11646" class="">职能部门</a></li>
                    </ul>
                </li>
                <li class="drop" style="height: 30px;"><a href="/info/iIndex.jsp?cat_id=11633" class="">新闻动态</a>
                    <ul class="sub_menu" style="display: none; padding-top: 30px; top: 0px;">
                        <li><a href="/info/iList.jsp?cat_id=11647" class="">中心新闻</a></li>
                        <li><a href="/info/iList.jsp?cat_id=11648" class="">中心简讯</a></li>
                        <li><a href="/info/iList.jsp?cat_id=11649" class="">通知公告</a></li>
                    </ul>
                </li>
                <li style="height: 30px;"><a href="/info/iIndex.jsp?cat_id=11634" class="">科学研究</a></li>
                <li style="height: 30px;"><a href="/gzfl/27524.htm" class="">合作范例</a></li>
                <li style="height: 30px;"><a href="/info/iIndex.jsp?cat_id=11636" class="">成果展示</a></li>
                <li style="height: 30px;"><a href="/rcpy/31662.htm" class="">人才培养</a></li>
                <li style="height: 30px;"><a href="/ljwm/31661.htm" class="">联系我们</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--banner 图片-->
<div class="outerBox bigtubg">
    <div class="mainBox" style="position: relative;height: 370px">
    </div>
</div>

<div class="outerBox index-link-container">
    <div class="mainBox">

        <div class="index-link-box" style="border-left: 1px solid #ccc;">
            <a href="/zxgc/xjqd/27487.htm" target="_blank" class="index-link-item">
                <span class="index-list-dot list-dot-1"></span>
                <span class="index-list-name">政策法规研究所 &gt; </span>
            </a>
        </div>


        <div class="index-link-box">
            <a href="/zxgc/xjqd/27488.htm" target="_blank" class="index-link-item">
                <span class="index-list-dot list-dot-2"></span>
                <span class="index-list-name">生命周期管理研究所 &gt; </span>
            </a>
        </div>


        <div class="index-link-box">
            <a href="/zxgc/xjqd/27489.htm" target="_blank" class="index-link-item">
                <span class="index-list-dot list-dot-3"></span>
                <span class="index-list-name">资源化技术研究所 &gt; </span>
            </a>
        </div>


        <div class="index-link-box">
            <a href="/zxgc/xjqd/27490.htm" target="_blank" class="index-link-item">
                <span class="index-list-dot list-dot-4"></span>
                <span class="index-list-name">工艺装备研究所 &gt; </span>
            </a>
        </div>


        <div class="index-link-box">
            <a href="/zxgc/xjqd/27491.htm" target="_blank" class="index-link-item">
                <span class="index-list-dot list-dot-5"></span>
                <span class="index-list-name">绿色设计与再制造研究所 &gt; </span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="outerBox ">
    <div class="mainBox">
        <div class="new-left">
            <a href="/info/iIndex.jsp?cat_id=11633" class="title-two">新闻动态</a> <a href="/info/iIndex.jsp?cat_id=11633"
                                                                                  class="lanmu_more"
                                                                                  style="position:absolute;margin-left:851px;">更多&gt;&gt;</a>
            <!--转场图片 开始-->
            <div class="focusImg_Box">
                <div id="KinSlideshow" class="focusimg float_left"
                     style="visibility: visible; width: 450px; height: 285px; overflow: hidden; position: relative;">


                    <div id="KinSlideshow_moveBox"
                         style="width: 450px; height: 285px; overflow: hidden; position: relative;">
                        <div id="KinSlideshow_XposBox" style="float: left; width: 2000%;">
                            <div id="KinSlideshow_content" style="float: left;"><a href="/xwdt/zxxw/39746.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201704/201704060934002.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/39747.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201704/201704010147032.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/39529.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201703/201703240913022.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/39521.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201703/201703230347017.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/37602.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201612/201612290124024.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a></div>
                            <div id="KinSlideshow_contentClone" style="float: left;"><a href="/xwdt/zxxw/39746.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201704/201704060934002.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/39747.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201704/201704010147032.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/39529.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201703/201703240913022.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/39521.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201703/201703230347017.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a><a
                                    href="/xwdt/zxxw/37602.htm"><img
                                    src="http://weee.sspu.edu.cn/wcm.files/upload/CMSdfzx/201612/201612290124024.jpg"
                                    style="border: 0px none;" width="450" border="0" height="285"></a></div>
                        </div>
                    </div>


                    <div class="KinSlideshow_titleBar"
                         style="height: 25px; width: 100%; position: absolute; bottom: 0px; left: 0px;"></div>
                    <div class="KinSlideshow_btnBox" style="position:absolute;right:10px;bottom:5px; z-index:100">
                        <ul id="btnlistID" style="margin:0;padding:0; overflow:hidden">
                            <li style="list-style: outside none none; float: left; width: 10px; height: 10px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(220, 220, 219) none repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Arial; line-height: 18px; opacity: 1; color: rgb(220, 220, 219);">
                                1
                            </li>
                            <li style="list-style: outside none none; float: left; width: 10px; height: 10px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(220, 220, 219) none repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Arial; line-height: 18px; opacity: 1; color: rgb(220, 220, 219);">
                                2
                            </li>
                            <li style="list-style: outside none none; float: left; width: 10px; height: 10px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(220, 220, 219) none repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Arial; line-height: 18px; opacity: 1; color: rgb(220, 220, 219);">
                                3
                            </li>
                            <li style="list-style: outside none none; float: left; width: 10px; height: 10px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(220, 220, 219) none repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Arial; line-height: 18px; opacity: 1; color: rgb(220, 220, 219);">
                                4
                            </li>
                            <li style="list-style: outside none none; float: left; width: 10px; height: 10px; border-width: 1px; border-color: rgb(220, 220, 219); border-style: solid; background: rgb(204, 204, 204) none repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Arial; line-height: 18px; opacity: 1; color: rgb(204, 204, 204);">
                                5
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--转场图片 结束-->
        </div>
        <div class="new-right">


            <li><a></a></li>

            <a class="title-content" style="display:block" href="/xwdt/zxxw/39824.htm" target="_blank"
               title="热烈祝贺王景伟教授当选StEP组织监督委员会委员">热烈祝贺王景伟教授当选StEP组织监督委员会...</a>
            <a class="profile-content" style="display:block;text-indent:20px" href="/xwdt/zxxw/39824.htm"
               target="_blank"> 2017年4月5日，国际著名的电子废弃物研究机构&mdash;&mdash;解决电子废物问题联盟（StEP）召开了电子废物管理全球大会，选举产生了新一届监督委员会，我中心执行主任王景伟教授作为中国唯一的代表被一致同意成为监督委员会委员...</a>


            <div class="contentBox1">
                <ul class="commonList_dot">
                    <li><a href="/xwdt/zxxw/39746.htm" target="_blank" title="中心协办中国再生资源联盟学术会议并承建废弃电器电子产品平台">中心协办中国再生资源联盟学术会议并承建废弃电器电子产品平台</a>
                    </li>

                    <li><a href="/xwdt/zxxw/39747.htm" target="_blank" title="中心教师赴昆明理工大学交流合作">中心教师赴昆明理工大学交流合作</a></li>

                    <li><a href="/xwdt/zxxw/39529.htm" target="_blank" title="上海大学钱教授及顺德职业技术学院李教授一行来中心交流工作">上海大学钱教授及顺德职业技术学院李教授一行来中心交流工作</a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <a class="title-two">师资队伍</a>
    </div>
</div>
<script src="/Public/script/jquery.1.7.min.js"></script>
<script src="/Application/Home/Public/script/nav.js?v=12"></script>
</body>
</html>