<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/Public/css/reset.css?b=119"/>
    <link rel="stylesheet" href="/Application/Home/Public/css/index.css?a=990"/>
    <link rel="stylesheet" href="/Application/Home/Public/css/template.css?a=990"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <block name="title"><title>标题</title></block>
</head>
<body>
<!--顶部小横条 -- start -->
<div class="outerBox top-background">
    <div class="mainBox ">
        <a href="/admin/admin/login" target="_blank" class="active">[管理员登录入口]</a>
        <div class="clearfix"></div>
    </div>
</div>
<!-- 顶部小横条  -- 标签结束 -->

<!--LOGO部分 -- 开始 -->
<div class="outerBox">
    <div class="mainBox">
        <a href="/" class="logo"></a>
        <span class="logo-content" style="color:#000">上海曙光环境治理新技术研究中心</span>
        <div class="nav_right" style="float: right">
            <div class="seacrhBox">
                <div class="search_03">


                    <form id="searchform" name="searchform" action="/search/searchResultGJ.jsp" method="get">

                        <input id="q" name="q" class="search_Text" value=""
                               style="display: inline-block ;width:160px;height:22px;border:0px;background-color: transparent;margin-top:3px;margin-left:3px;"
                               type="text">
                        <input value=""
                               style=" display : block;width:32px;background-color:transparent;border: 0px solid #000;  height:30px; cursor:pointer; float: right"
                               type="submit">
                        <input value="399" name="t_id" type="hidden">&#12288;

                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="nav_box">
            <ul class="dropdown">
                <li class="drop" style="height: 30px;"><a href="/index/index" class="">首页</a></li>
                <volist name="menus" id="menu">
                    <li class="drop" style="height: 30px;"><a href="/page/content?sid={$menu.id}" class="">{$menu.menu_name}</a>

                        <ul class="sub_menu" style="display: none; padding-top: 30px; top: 0px;">
                            <volist name="menu['children']" id="sub">
                                <li><a href="/page/content?sid={$sub.id}" class="">{$sub.menu_name}</a></li>
                            </volist>
                        </ul>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--LOGO部分 -- 结束 -->

<!--banner 图片 -- 开始 -->
<div class="outerBox bigtubg">
    <div class="mainBox" style="position: relative;height: 370px;width: 100%;">
        <img src="{$banner}" style="width: 100%;height: 370px;">
    </div>
</div>
<!--banner 图片 -- 结束 -->

<div class="outerBox">

    <div class="mainBox miniBackground">
        <div class="leftNav">
            <!--div class="left_title">
                一级栏目
            </div>
            <ul class="left_list">
                <li> <a class="active" href="#">栏目一 </a></li>
                <li> <a href="#">栏目二 </a></li>
                <li> <a href="#">栏目三</a></li>
            </ul-->
            <!-- ---- 中文>>--【左侧链接】 -- 标签开始 ---- -->


            <div class="left-link-box">
                <a href="/zxgc/xjqd/27487.htm" target="_blank" class="left-link-item">
                    <span class="list-dot er-list-dot-1"></span>
                    <span class="list-name">政策法规研究所</span>
                </a>
            </div>




            <div class="left-link-box">
                <a href="/zxgc/xjqd/27488.htm" target="_blank" class="left-link-item">
                    <span class="list-dot er-list-dot-2"></span>
                    <span class="list-name">生命周期管理研究所</span>
                </a>
            </div>




            <div class="left-link-box">
                <a href="/zxgc/xjqd/27489.htm" target="_blank" class="left-link-item">
                    <span class="list-dot er-list-dot-3"></span>
                    <span class="list-name">资源化技术研究所</span>
                </a>
            </div>




            <div class="left-link-box">
                <a href="/zxgc/xjqd/27490.htm" target="_blank" class="left-link-item">
                    <span class="list-dot er-list-dot-4"></span>
                    <span class="list-name">工艺装备研究所</span>
                </a>
            </div>




            <div class="left-link-box">
                <a href="/zxgc/xjqd/27491.htm" target="_blank" class="left-link-item">
                    <span class="list-dot er-list-dot-5"></span>
                    <span class="list-name">绿色设计与再制造研究所</span>
                </a>
            </div>



            <!-- ---- 中文>>--【左侧链接】 -- 标签结束 ---- -->

        </div>
        <div class="list_box_er">
            <div style="float: right; width: 100%; margin-bottom:36px">
                <div class="lanmu_box_new" style="width: 100%; border-bottom: 1px solid #274e0d">
                    <div class="present_con" style="float: left">
                        <ul class="present_ul">
                            <!--<li><img  src="images/position_03.png" width="14"  height="14"/>　</li>-->
                            <!--<li>您现在的位置：</li>-->
                            <li><a href="/">首页 &gt;</a></li>
                            <li><a href="/zxgc/zxjg/31592.htm">中心介绍 &gt;</a></li>
                            <li><a href="/info/iList.jsp?cat_id=11644">研究团队 &gt;</a></li>

                        </ul>
                    </div>
                </div>
               <block name="contentBox6"></block>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="outerBox copyBackground">
    <div class="mainBox">
        <div class="copyRight_left">
            <p>
                <a href="/">首页&nbsp;&nbsp;/&nbsp;</a>
                <a href="/zxgc/zxjg/31592.htm">中心简介&nbsp;&nbsp;/&nbsp;</a>
                <a href="/info/iIndex.jsp?cat_id=11633">新闻动态&nbsp;&nbsp;/&nbsp;</a>
                <a href="/gzfl/27524.htm">合作范例&nbsp;&nbsp;/&nbsp;</a>
                <a href="/info/iIndex.jsp?cat_id=11634">科学研究&nbsp;&nbsp;/&nbsp;</a>
                <a href="/info/iIndex.jsp?cat_id=11636">成果展示&nbsp;&nbsp;/&nbsp;</a>
                <a href="/rcpy/31662.htm">人才培养&nbsp;</a>
            </p>
            <p>上海电子废弃物资源化协同创新中心 版权所有&nbsp;&nbsp;&nbsp; 技术支持：<a href="javascript:void(0);">瑞鸟科技</a></p>
            <p>Copyright &copy; 2013 All Rights Reserved. 沪ICP备09045255号</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<script src="/Public/script/jquery.1.7.min.js"></script>
<script src="/Application/Home/Public/script/nav.js?v=12"></script>
</body>
</html>