<extend name="./common/admin_template"/>

<block name="content">
    <style>
        th {
            text-align: center;
        }

    </style>
    <div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>查询条件</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="demo-form2" class="form-horizontal form-label-left" novalidate="">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_code">产品编码<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="product_code" class="form-control col-md-7 col-xs-12" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_name">产品名称<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="product_name" class="form-control col-md-7 col-xs-12" type="text">
                                </div>
                            </div>

                            <!--<div class="ln_solid"></div>-->
                            <div class="form-group">
                                <div style="float: right;">
                                    <a id="add-btn" class="btn btn-primary" href="/admin/product/addproduct">添加产品</a>
                                </div>
                                <div style="float: right;">
                                    <a id="search-btn" class="btn btn-primary" href="#">查询</a>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>产品列表</h2>
                        <span class="clearfix"></span>
                    </div>
                    <div class="x_content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>产品代码</th>
                                <th>产品名称</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>

                            </thead>


                            <tbody id="result-body">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</block>

<block name="script">

    <script src="/Application/Admin/Public/script/product-list.js"></script>

</block>