<extend name="./common/admin_template"/>

<block name="content">
    <style>
        th {
            text-align: center;
        }

        .slider {
            cursor: pointer;
        }

        .s-open:after {

            content: '[ + ]';
        }

        .s-close:after {

            content: '[ - ]';
        }
    </style>
    <div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>查询条件</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="demo-form2" class="form-horizontal form-label-left" novalidate="">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="menu_name">菜单名称 <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="menu_name" required="required" class="form-control col-md-7 col-xs-12"
                                           type="text">
                                </div>
                            </div>

                            <!--<div class="ln_solid"></div>-->
                            <div class="form-group">
                                <div style="float: right;">
                                    <a id="search-btn" class="btn btn-primary" href="#">查询</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>菜单列表</h2>
                        <span style="float: right">
                            <a id="btn_add_menu" class="btn btn-primary" href="#">添加一级菜单</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th rowspan="2" style="vertical-align: middle">菜单名称</th>
                                <th>菜单层级</th>
                                <th>操作</th>
                            </tr>
                            <tr>
                                <th>子菜单名称</th>
                                <th colspan="2">菜单层级</th>
                            </tr>
                            </thead>


                            <tbody id="result-body">
                                <tr>
                                    <td><span class="slider s-close"></span>首页</td>
                                    <td>一级菜单</td>
                                    <td><i class="fa fa-pencil operator"></i> <i class="fa fa-trash operator"></i></td>
                                </tr>
                                <tr class="sub-datagrid s998">
                                    <td></td>
                                    <td>新闻</td>
                                    <td colspan="2">一级菜单</td>
                                </tr>
                                <tr class="sub-datagrid s998">
                                    <td></td>
                                    <td>新闻</td>
                                    <td colspan="2">一级菜单</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</block>

<block name="script">

    <script src="/Application/Admin/Public/script/menulist.js?v=69"></script>

</block>