<extend name="./common/admin_template"/>
<block name="content">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>查询条件</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="demo-form2" class="form-horizontal form-label-left" novalidate="">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">菜单名称 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="first-name" required="required" class="form-control col-md-7 col-xs-12" type="text">
                                </div>
                            </div>

                            <!--<div class="ln_solid"></div>-->
                            <div class="form-group">
                                <div style="float: right;">
                                    <button class="btn btn-primary" type="button">查询</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>菜单列表</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>菜单名称</th>
                                <th>菜单层级</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><i class="fa fa-plus"></i>首页</td>
                                <td>一级菜单</td>
                                <td> <i class="fa fa-pencil operator"></i> <i class="fa fa-trash operator"></i> </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-plus"></i>新闻动态</td>
                                <td>一级菜单</td>
                                <td><i class="fa fa-pencil operator"></i> <i class="fa fa-trash operator"></i></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-plus"></i>中心介绍</td>
                                <td>一级菜单</td>
                                <td><i class="fa fa-pencil operator"></i> <i class="fa fa-trash operator"></i></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</block>